/* Template: Rose - Event HTML Landing Page Template
   Author: Inovatik
   Created: Sep 2019
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Registration
06. Description
07. Highlights
08. Agenda
09. Speakers
10. Details Lightboxes
11. Questions
12. Sponsors
13. Location
14. Footer
15. Copyright
16. Back To Top Button
17. Extra Pages
18. Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f6fbfd
- Backgrounds, buttons, bullets, navbar, headings - red #ec3258
- Headings light - white #fff
- Body text light - light gray #ececec
- Headings - black #333
- Body text - black #555
******************************************/


/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #555; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

.p-large {
	font: 400 1.125rem/1.625rem "Open Sans", sans-serif;
}

.p-small {
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 3.5rem;
	text-align: center;
}

h1 {
	color: #333;
	font: italic 800 2.75rem/3.25rem "Sansita", sans-serif;
}

h2 {
	color: #333;
	font: italic 800 2.25rem/2.75rem "Sansita", sans-serif;
}

h3 {
	color: #333;
	font: italic 800 1.75rem/2.125rem "Sansita", sans-serif;
}

h4 {
	color: #333;
	font: italic 800 1.5rem/1.75rem "Sansita", sans-serif;
}

h5 {
	color: #333;
	font: italic 800 1.25rem/1.5rem "Sansita", sans-serif;
}

h6 {
	color: #333;
	font: italic 800 1rem/1.375rem "Sansita", sans-serif;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font: 700 1rem/1.375rem "Open Sans", sans-serif;
}

.li-space-lg li {
	margin-bottom: 0.375rem;
}

.indent {
	padding-left: 1.25rem;
}

a {
	color: #555;
	text-decoration: underline;
}

a:hover {
	color: #555;
	text-decoration: underline;
}

a.light-gray {
	color: #ececec;
}

.red {
	color: #ec3258;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
	border: 0.125rem solid #ec3258;
	border-radius: 2rem;
	background-color: #ec3258;
	color: #fff;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #ec3258;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 0.125rem solid #ec3258;
	border-radius: 2rem;
	background-color: #ec3258;
	color: #fff;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #ec3258;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.1875rem 1.875rem 1.1875rem 1.875rem;
	border: 0.125rem solid #ec3258;
	border-radius: 2rem;
	background-color: transparent;
	color: #ec3258;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-reg:hover {
	background-color: #ec3258;
	color: #fff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	border: 0.125rem solid #ec3258;
	border-radius: 2rem;
	background-color: transparent;
	color: #ec3258;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-lg:hover {
	background-color: #ec3258;
	color: #fff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 0.9375rem 1.625rem;
	border: 0.125rem solid #ec3258;
	border-radius: 0.25rem;
	background-color: transparent;
	color: #ec3258;
	font: 700 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s ease;
}

.btn-outline-sm:hover {
	background-color: #ec3258;
	color: #fff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.8125rem;
	left: 1.75rem;
	color: #555;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1.75rem;
	border: 1px solid #dadada;
	border-radius: 2.5rem;
	background-color: #fff;
	color: #555;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	transition: all 0.2s ease;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1.25rem;
		padding-bottom: 0.75rem;
		line-height: 1.75rem;
	}

	.form-control-select {
		padding-top: 0.875rem;
		padding-bottom: 0.75rem;
		height: 3.125rem;
		line-height: 2.125rem;
	}
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.75rem;
	border: 1px solid #dadada;
	border-radius: 2.5rem;
	background-color: #fff;
	color: #555;
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
	transition: all 0.2s ease;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #555;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #555;
}

.checkbox {
	font-size: 0.875rem;
	line-height: 1.375rem;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.125rem;
	border: 0.125rem solid #ec3258;
	border-radius: 2.5rem;
	background-color: #ec3258;
	color: #fff;
	font: 700 0.875rem/1.75rem "Open Sans", sans-serif;
	cursor: pointer;
	transition: all 0.2s ease;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #ec3258;
}

/* Form Success And Error Message Formatting */
#rmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#rmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	font-size: 1.125rem;
	line-height: 1rem;
}

.help-block.with-errors .list-unstyled {
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox - magnific popup */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #e84554;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #ededf9;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	border-bottom: 1px solid #f06b7f;
	background-color: #ec3258;
	font: 600 0.875rem/0.875rem "Open Sans", sans-serif;
	transition: all 0.2s ease;
}

.navbar-custom .container {
	max-width: 87.5rem;
}

.navbar-custom .navbar-brand {
	font-size: 0;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 4.8125rem;
	height: 1.625rem;
}

.navbar-custom .navbar-brand.logo-text {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	color: #fff;
	font: 600 2.25rem/1.5rem "Sansita", sans-serif;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.625rem 0.625rem 0.625rem;
	color: #fff;
	opacity: 0.8;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #fff;
	opacity: 1;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #ec3258;
}

.navbar-custom .dropdown-item  {
	color: #fff;
	opacity: 0.8;
	font: 700 0.875rem/0.875rem "Open Sans", sans-serif;
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #ec3258;
	color: #fff;
	opacity: 1;
}

.navbar-custom .divider {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.75rem auto;
	border: none;
	background-color: #d6d6d6;
	opacity: 0.3;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/*********************/
/*    04. Header     */
/*********************/
.header {
	position: relative;
	background: linear-gradient(to bottom right, rgba(236, 50, 88, 0.9), rgba(239, 100, 57, 0.9)), url("../images/header-background.jpg") center center no-repeat;
	background-size: cover;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 8rem;
	text-align: center;
}

.header .countdown {
	margin-bottom: 0.5rem;
	color: #fff;
}

.header .countdown #clock .counter-number {
	display: inline-block;
	width: 6.125rem;
	height: 6.125rem;
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
	margin-left: 0.5rem;
	padding-top: 1.75rem;
	border: 0.125rem solid #fff;
	border-radius: 50%;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.25rem;
	text-align: center;
}

.header .countdown #clock .counter-number .timer-text {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: center;
}

.header h1 {
	margin-bottom: 1rem;
	color: #fff;
}

.header .p-heading {
	margin-bottom: 2rem;
	color: #ececec;
}

.header .btn-outline-lg {
	border: 0.125rem solid #fff;
	color: #fff;
}

.header .btn-outline-lg:hover {
	background-color: #fff;
	color: #ec3258;
}

.header .frame-container {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 12.5rem;
	width: 100%;
}

.header .header-frame {
	position: absolute;
	bottom: -1px;
	left: 0;
	vertical-align: middle;
	width: 100%;
	height: 3.125rem;
}


/****************************/
/*     05. Registration     */
/****************************/
.form {
	padding-top: 5.5rem;
	padding-bottom: 6.25rem;
	background-color: #f6fbfd;
}

.form .text-container {
	margin-bottom: 3rem;
}

.form h2 {
	margin-bottom: 1.25rem;
}

.form .list-unstyled .fas {
	color: #ec3258;
	font-size: 0.5rem;
	line-height: 1.5rem;
}

.form .list-unstyled .media-body {
	margin-left: 0.625rem;
}


/***************************/
/*     06. Description     */
/***************************/
.slider {
	padding-top: 7.5rem;
	padding-bottom: 3.125rem;
}

.slider .slider-container {
	position: relative;
	margin-bottom: 3rem;
}

.slider .swiper-container {
	position: static;
	width: 86.5%;
	border-radius: 0.375rem;
}

.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider h2 {
	margin-bottom: 1.25rem;
}


/**************************/
/*     07. Highlights     */
/**************************/
.cards {
	padding-top: 3.125rem;
	padding-bottom: 3.25rem;
	text-align: center;
}

.cards .card {
	max-width: 18.75rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
	border: none;
}

.cards .card-icon {
	position: relative;
	align-self: center;
	width: 11rem;
	height: 11rem;
	margin-bottom: 2rem;
	border-radius: 0.25rem;
	background: linear-gradient(to bottom right, #ec3258, #ef6439);
}

.cards .card-icon .highlights-frame {
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 1rem;
}

.cards .card .fas {
	color: #fff;
	font-size: 4rem;
	line-height: 10.25rem;
}

.cards .card-body {
	padding: 0;
}

.cards .card-title {
	margin-bottom: 0.625rem;
}

.cards .card p {
	margin-bottom: 0;
}


/**********************/
/*     08. Agenda     */
/**********************/
.basic-1 {
	padding-top: 6.75rem;
	padding-bottom: 7.125rem;
	background-color: #f6fbfd;
}

.basic-1 h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.basic-1 .text-container.first {
	margin-bottom: 3rem;
}

.basic-1 .keynote-title {
	margin-bottom: 0.75rem;
}

.basic-1 .keynote-time {
	color: #ec3258;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.625rem;
}

.basic-1 .keynote-divider {
	width: 100%;
	height: 1px;
	margin: 2.25rem auto 2.25rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 1;
}


/************************/
/*     09. Speakers     */
/************************/
.basic-2 {
	padding-top: 6.75rem;
	padding-bottom: 3.5rem;
	text-align: center;
}

.basic-2 h2 {
	margin-bottom: 1rem;
}

.basic-2 .speaker {
	max-width: 15rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
}

.basic-2 .speaker-image {
	position: relative;
	margin-bottom: 1.375rem;
}

.basic-2 .speaker-image img {
	border-radius: 0.25rem;
}

.basic-2 .speaker-image .hover-overlay {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 0.25rem;
	background-color: rgba(236, 50, 88, 0.8);
	opacity: 0;
	transition: all 0.2s ease;
}

.basic-2 .speaker-image:hover .hover-overlay {
	opacity: 1;
}

.basic-2 .speaker-image .hover-overlay p {
	width: 80%;
	margin-right: auto;
	margin-bottom: 0.375rem;
	margin-left: auto;
	color: #fff;
}

.basic-2 .speaker-image .hover-overlay p.read-more {
	font-weight: 700;
}

.basic-2 .speaker .name {
	margin-bottom: 0.125rem;
	color: #333;
	font-weight: 800;
	font-size: 1.125rem;
	line-height: 1.5rem;
}

.basic-2 .speaker .occupation {
	margin-bottom: 0.25rem;
}

.basic-2 .fa-stack {
	width: 2rem;
	margin-top: 0.375rem;
	font-size: 0.875rem;
}

.basic-2 .fa-stack-2x {
	color: #ec3258;
	transition: all 0.2s ease;
}

.basic-2 .fa-stack-1x {
	color: #fff;
	transition: all 0.2s ease;
}

.basic-2 .fa-stack:hover .fa-stack-2x {
	color: #ececf1;
}

.basic-2 .fa-stack:hover .fa-stack-1x {
	color: #ec3258;
}


/**********************************/
/*     10. Details Lightboxes     */
/**********************************/
.lightbox-basic {
	max-width: 24rem;
	margin: 2.5rem auto;
	padding: 2rem 0.5rem 1rem 0.5rem;
	border-radius: 0.25rem;
	background: #fff;
	text-align: left;
}

.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -0.125rem;
	right: -0.125rem;
	width: 2.75rem;
	height: 2.75rem;
	color: #707984;
}

.lightbox-basic .image-container {
	margin-bottom: 2rem;
}

.lightbox-basic .image-container img {
	border-radius: 0.5rem;
}

.lightbox-basic h2 {
	margin-bottom: 0.75rem;
}

.lightbox-basic hr {
	width: 3.5rem;
	height: 0.125rem;
	margin-top: 0;
	margin-bottom: 0.875rem;
	margin-left: 0;
	border: 0;
	background-color: #ec3258;
	text-align: left;
}

.lightbox-basic .occupation {
	margin-bottom: 1rem;
	font-size: 1.25rem;
	line-height: 1.875rem;
}

.lightbox-basic .testimonial-text {
	margin-bottom: 1.625rem;
	font-size: 1.25rem;
	line-height: 1.875rem;
}

.lightbox-basic .fa-stack {
	width: 2em;
	margin-bottom: 0.75rem;
	margin-right: 0.25rem;
	font-size: 1.5rem;
}

.lightbox-basic .fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.lightbox-basic .fa-stack .fa-stack-2x {
	color: #ec3258;
	transition: all 0.2s ease;
}

.lightbox-basic .fa-stack:hover .fa-stack-1x {
	color: #ec3258;
}

.lightbox-basic .fa-stack:hover .fa-stack-2x {
	color: #ececf1;
}


/*************************/
/*     11. Questions     */
/*************************/
.basic-3 {
	padding-top: 6.625rem;
	padding-bottom: 5.5rem;
	background-color: #f6fbfd;
}

.basic-3 h2 {
	margin-bottom: 3.125rem;
	text-align: center;
}

.basic-3 .list-unstyled .bullet {
	width: 2.125rem;
	height: 2.125rem;
	margin-top: 0.25rem;
	border-radius: 0.25rem;
	background: linear-gradient(to bottom right, rgba(236, 50, 88, 1), rgba(239, 100, 57, 1));
	color: #fff;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 2.125rem;
	text-align: center;
}

.basic-3 .list-unstyled .media-body {
	margin-left: 1.125rem;
}

.basic-3 .list-unstyled .title {
	margin-bottom: 0.25rem;
	color: #333;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.75rem;
}


/************************/
/*     12. Sponsors     */
/************************/
.basic-4 {
	padding-top: 6.625rem;
	padding-bottom: 6.25rem;
}

.basic-4 h2 {
	margin-bottom: 1.25rem;
	text-align: center;
}

.basic-4 .image-container {
	margin-bottom: 2rem;
	text-align: center;
}

.basic-4 .image-container img {
	max-width: 11rem;
	margin: 0.75rem 1rem 0.75rem 1rem;
}

.basic-4 h3, 
.basic-4 p {
	text-align: center;
}

.basic-4 h3 {
	margin-bottom: 1rem;
}


/************************/
/*     13. Location     */
/************************/
.basic-5 {
	position: relative;
	padding-top: 7rem;
	padding-bottom: 10.5rem;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../images/location-background.jpg") center center no-repeat;
	background-size: cover;
}

.basic-5 .text-container {
	margin-bottom: 3rem;
}

.basic-5 h4 {
	color: #fff;
	margin-bottom: 1rem;
}

.basic-5 .list-unstyled,
.basic-5 a,
.basic-5 p {
	color: #ececec;
}

.basic-5 .list-unstyled {
	margin-bottom: 1.625rem;
}

.basic-5 .list-unstyled .fas {
	font-size: 0.875rem;
	line-height: 1.625rem;
}

.basic-5 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.basic-5 .list-unstyled .media-body .fas.fa-globe {
	margin-right: 0.625rem;
	margin-left: 1rem;
}

.basic-5 .hotel {
	margin-bottom: 2rem;
}

.basic-5 .hotel img {
	margin-top: 0.375rem;
	margin-bottom: 0.75rem;
}

.basic-5 .hotel .details {
	font-weight: 700;
	color: #ec3258;
}

.basic-5 .hotel .details .stars {
	font-size: 1.25rem;
	line-height: 1.25rem;
	color: #fff;
}

.basic-5 .hotel a {
	text-decoration: none;
}

.basic-5 .map-responsive {
	overflow: hidden;
	position: relative;
	margin-top: 1.25rem; 
	padding-bottom: 56.25%;
	height: 0;
	border-radius: 0.25rem;
}

.basic-5 .map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	border: none; 
}

.footer-frame {
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 3.125rem;
	vertical-align: middle;
}


/**********************/
/*     14. Footer     */
/**********************/
.footer {
	padding-top: 4rem;
	padding-bottom: 1rem;
	background-color: #ec3258;
}

.footer .footer-col {
	margin-bottom: 2.25rem;
}

.footer h5 {
	margin-bottom: 0.75rem;
	color: #fff;
}

.footer p,
.footer ul {
	color: #ececec;
}

.footer .list-unstyled .fas {
	color: #fff;
	font-size: 0.375rem;
	line-height: 1.375rem;
}

.footer .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.footer .footer-col.third h5 {
	margin-bottom: 1rem;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 0.75rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #ec3258;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #fff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #ec3258;
}


/*************************/
/*     15. Copyright     */
/*************************/
.copyright {
	padding-bottom: 0.5rem;
	background-color: #ec3258;
	text-align: center;
}

.copyright .p-small,
.copyright .p-small a {
	color: #e6afb9;
}


/**********************************/
/*     16. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #333 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #585858; 
}


/***************************/
/*     17. Extra Pages     */
/***************************/
.ex-header {
	padding-top: 8rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom right, #ec3258, #ef4539);
	text-align: center;
}

.ex-header h1 {
	color: #fff;
}

.ex-basic-1 {
	padding-top: 2rem;
	padding-bottom: 0.875rem;
	background-color: #f6fbfd;
}

.ex-basic-1 .breadcrumbs {
	margin-bottom: 1rem;
}

.ex-basic-1 .breadcrumbs .fa {
	margin-right: 0.5rem;
	margin-left: 0.625rem;
}

.ex-basic-1.bottom {
	position: relative;
	padding-bottom: 4rem;
}

.ex-basic-2 {
	padding-top: 4.75rem;
	padding-bottom: 4rem;
}

.ex-basic-2 h3 {
	margin-bottom: 1rem;
}

.ex-basic-2 .text-container {
	margin-bottom: 3.625rem;
}

.ex-basic-2 .text-container.last {
	margin-bottom: 0;
}

.ex-basic-2 .text-container.dark {
	padding: 1.625rem 1.5rem 0.75rem 2rem;
	border-radius: 0.25rem;
	background-color: #f6fbfd;
}

.ex-basic-2 .image-container-large {
	margin-bottom: 4rem;
}

.ex-basic-2 .image-container-large img {
	border-radius: 0.25rem;
}

.ex-basic-2 .image-container-small img {
	border-radius: 0.25rem;
}

.ex-basic-2 .list-unstyled .fas {
	color: #ec3258;
	font-size: 0.5rem;
	line-height: 1.5rem;
}

.ex-basic-2 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.ex-basic-2 .form-container {
	margin-top: 3rem;
}

.ex-basic-2 .btn-outline-reg {
	margin-top: 1.75rem;
}


/*****************************/
/*     18. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Header */
	.header .header-content {
		padding-top: 12rem;
		padding-bottom: 13rem;
	}

	.header .countdown {
		margin-bottom: 1rem;
	}
	
	.header .countdown #clock .counter-number {
		width: 7.75rem;
		height: 7.75rem;
		margin-bottom: 0;
		padding-top: 2.5rem;
		font-size: 2.75rem;
	}
	
	.header .countdown #clock .counter-number .timer-text {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.header h1 {
		font-size: 4.5rem;
		line-height: 5rem;
	}

	.header .header-frame {
		height: 6.25rem;
	}
	/* end of header */


	/* Registration */
	.form {
		padding-top: 4.5rem;
	}
	/* end of registration */


	/* Extra Pages */
	.ex-header {
		padding-top: 11rem;
		padding-bottom: 7rem;
	}

	.ex-basic-1.bottom {
		padding-bottom: 5rem;
	}

	.ex-basic-2 .text-container.dark {
		padding: 2.5rem 3rem 1.75rem 3rem;
	}

	.ex-basic-2 .form-container {
		margin-top: 0;
	}
	/* end of extra pages */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		padding: 1rem 1.5rem 1rem 2rem;
	}

	.navbar-custom .navbar-brand.logo-image img {
		width: 5.5625rem;
		height: 1.875rem;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.625rem 0.25rem 0.625rem;
	}
	
	.navbar-custom.top-nav-collapse {
		padding: 0.5rem 1.5rem 0.5rem 2rem;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-image img {
		width: 4.8125rem;
		height: 1.625rem;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-text {
		color: #fff;
	}

	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0.5rem solid rgba(0, 0, 0, 0);
		border-radius: 0.25rem;
	}
	
	.navbar-custom.top-nav-collapse .dropdown-menu {
		border-top: 0.5rem solid rgba(0, 0, 0, 0);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .divider {
		width: 84%;
	}

	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		width: 2em;
		margin-bottom: 0;
		margin-left: 0.375rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #fff;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #ec3258;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #ec3258;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #fff;
	}
	/* end of navigation */


	/* Header */
	.header .header-content {
		padding-top: 12rem;
		padding-bottom: 15rem;
	}

	.header h1 {
		font-size: 5.5rem;
		line-height: 6rem;
	}
	/* end of header */


	/* Registration */
	.form {
		padding-top: 5.25rem;
	}

	.form .text-container {
		margin-top: 0.375rem;
		margin-bottom: 0;
	}
	/* end of registration */


	/* Description */
	.slider .slider-container {
		margin-bottom: 0;
	}

	.slider .swiper-button-prev {
		left: 0;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider .swiper-button-next {
		right: 0;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of description */


	/* Highlights */
	.cards {
		padding-bottom: 7.25rem;
	}

	.cards .card {
		display: inline-block;
		max-width: 17.125rem;
		margin-right: 1rem;
		margin-bottom: 0;
		margin-left: 1rem;
		vertical-align: top;
	}

	.cards .card-icon {
		margin-right: auto;
		margin-left: auto;
	}
	/* end of highlights */


	/* Agenda */
	.basic-1 {
		padding-bottom: 6.5rem;
	}

	.basic-1 .text-container.first {
		margin-bottom: 0;
	}

	.basic-1 .keynote-details {
		display: inline-block;
		width: 80%;
	}
	
	.basic-1 .keynote-time {
		display: inline-block;
		width: 19%;
		text-align: right;
		vertical-align: top;
	}

	.basic-1 .keynote-divider {
		margin: 2.125rem auto 3rem auto;
	}
	/* end of agenda */


	/* Speakers */
	.basic-2 .speaker {
		display: inline-block;
		width: 18rem;
		max-width: 100%;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		vertical-align: top;
	}
	/* end of speakers */


	/* Details Lightboxes */
	.lightbox-basic {
		max-width: 56rem;
		padding: 2rem 1rem 2rem 1rem;
	}

	.lightbox-basic .image-container {
		margin-bottom: 0;
	}
	/* end of details lightboxes */


	/* Sponsors */
	.basic-4 p {
		max-width: 80%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of sponsors */


	/* Location */
	.basic-5 {
		padding-top: 7.5rem;
		padding-bottom: 12.25rem;
	}

	.basic-5 .text-container {
		margin-bottom: 0;
	}

	.basic-5 .hotel {
		display: inline-block;
		max-width: 13.5rem
	}

	.basic-5 .hotel.first {
		margin-right: 0.75rem;
	}

	.basic-5 .map-responsive {
		margin-top: 0;
		padding-bottom: 86.25%;
	}

	.footer-frame {
		height: 6.25rem;
	}
	/* end of location */


	/* Footer */
	.footer {
		padding-top: 3rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-header h1 {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-1.bottom {
		padding-bottom: 8rem;
	}

	.ex-basic-2 {
		padding-bottom: 5rem;
	}
	/* end of extra pages */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.p-heading {
		width: 55%;
	}
	/* end of general styles */


	/* Header */
	.header .header-content {
		padding-top: 16rem;
		padding-bottom: 19rem;
	}
	/* end of header */


	/* Registration */
	.form .text-container {
		margin-top: 1.375rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.form .form-container {
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of registration */


	/* Description */
	.slider {
		padding-bottom: 3.75rem;
	}

	.slider .text-container {
		margin-top: 1.5rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of description */


	/* Highlights */
	.cards {
		padding-top: 3.75rem;
	}

	.cards .card {
		max-width: 18.75rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of highlights */


	/* Agenda */
	.basic-1 .text-container.first {
		margin-right: 1.5rem;
	}

	.basic-1 .text-container.second {
		margin-left: 1.5rem;
	}

	.basic-1 .keynote-details {
		width: 85%;
	}
	
	.basic-1 .keynote-time {
		width: 14%;
	}
	/* end of agenda */


	/* Speakers */
	.basic-2 .speaker {
		width: 15rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.basic-2 .speaker-image {
		margin-bottom: 1.5rem;
	}
	/* end of speakers */


	/* Details Lightboxes */
	.lightbox-basic {
		max-width: 62rem;
	}

	.lightbox-basic .text-container {
		margin-top: 2rem;
		margin-left: 1rem;
	}
	/* end of details Lightboxes */
	

	/* Questions */
	.basic-3 .list-unstyled.first {
		margin-right: 1rem;
	}

	.basic-3 .list-unstyled.second {
		margin-left: 1rem;
	}
	/* end of questions */


	/* Sponsors */
	.basic-4 p {
		max-width: 70%;
	}
	/* end of sponsors */


	/* Footer */
	.footer .footer-col.first {
		margin-right: 3rem;
	}
	
	.footer .footer-col.second {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.footer .footer-col.third {
		margin-left: 3rem;
	}
	/* end of footer */


	/* Location */
	.basic-5 {
		padding-bottom: 11.25rem;
	}
	.basic-5 .text-container {
		margin-right: 1.5rem;
	}

	.basic-5 .hotel {
		max-width: 15rem
	}

	.basic-5 .hotel.first {
		margin-right: 1.75rem;
	}

	.basic-5 .map-responsive {
		margin-left: 1.5rem;
		padding-bottom: 71.25%;
	}
	/* end of location */


	/* Extra Pages */
	.ex-header h1 {
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 .image-container-small {
		margin-left: 1.75rem;
	}

	.ex-basic-2 .form-container {
		margin-left: 1.75rem;
	}
	/* end of extra pages */
}
/* end of min-width width 1200px */